<% include ../partials/header %>

<div class="container d-flex justify-content-center align-items-center flex-column">
  <div class="text-center">
    <h1>Create a New Campground</h1>
  </div>
  <form class="mt-2 mb-5" action="/campgrounds" method="post" enctype="multipart/form-data">
    <label for="name">Campground Name:</label>
    <input class="form-control mb-3" type="text" placeholder="name" name="name" autofocus required>
    <label for="price">Campground Price:</label>
    <input class="form-control mb-3" type="number" placeholder="price" name="price" min="0.00" step="0.01" required>
    <label for="image">Campground Image:</label>
    <input class="form-control mb-3" type="file" name="image" accept="image/*" required>
    <label for="desctiption">Campground Description:</label>
    <input class="form-control mb-3" type="text" placeholder="description" name="description">
    <label for="location">Campground Location:</label>
    <input id="location" class="form-control mb-5" type="text" name="location"  placeholder="Location" required>
    <button class="btn btn-success btn-block">Submit Campground</button>
    <a href="/campgrounds">Go Back</a>
  </form>
</div>

<% include ../partials/footer %>
