<% include ./partials/header %>

<div class="container d-flex justify-content-center align-items-center flex-column">
  <div class="text-center">
    <h1>Forgot Password</h1>
  </div>
  <form class="mt-2" action="/forgot" method="post">
    <label for="email">Email:</label>
    <input class="form-control mb-5" type="email" name="email" autofocus required>
    <button class="form-control btn btn-lg btn-success btn-block" type="submit">Reset Password</button>
    <a href="/campgrounds">Go Back</a>
  </form>
</div>

<% include ./partials/footer %>
