<% include ./partials/header %>

<h1>Login</h1>
<form class="" action="/forgot" method="post">
  <legend>Forgot Password</legend>
  <label for="email">Email</label>
  <input class="form-control" type="email" name="email" autofocus >
  <button class="btn btn-primary" type="submit">Reset Password</button>
</form>

<% include ./partials/footer %>
