<% include ./partials/header %>

<div class="container d-flex justify-content-center align-items-center flex-column">
  <form class="" action="/forgot" method="post">
    <h1>Forgot Password</h1>
    <label for="email">Email:</label>
    <input class="form-control" type="email" name="email" autofocus required>
    <button class="form-control btn btn-primary btn-block" type="submit">Reset Password</button>
    <a href="/campgrounds">Go Back</a>
  </form>
</div>

<% include ./partials/footer %>
