<% include ./partials/header %>

<div class="container d-flex justify-content-center align-items-center flex-column">
  <div class="text-center">
    <h1>Sign Up</h1>
  </div>
  <form class="" action="/register" method="post">
    <label for="username">Username:</label>
    <input class="form-control" type="text" name="username" placeholder="username">
    <label for="email">Email:</label>
    <input class="form-control" type="email" name="email" placeholder="email">
    <label for="avatar">Avatar:</label>
    <input class="form-control" type="text" name="avatar" placeholder="avatar">
    <label for="firstName">First Name:</label>
    <input class="form-control" type="text" name="firstName" placeholder="first name">
    <label for="lastName">Last Name:</label>
    <input class="form-control" type="text" name="lastName" placeholder="last name">
    <label for="adminCode">Administrator Code:</label>
    <input class="form-control" type="pasword" name="adminCode" placeholder="admin access code">
    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" placeholder="password">
    <button type="submit" class="form-control btn btn-lg btn-success btn-block">Sign Up</button>
    <a href="/campgrounds">Go Back</a>
  </form>
</div>

<% include ./partials/footer %>
