<% include ./partials/header %>

<div class="container d-flex justify-content-center align-items-center flex-column">
  <div class="text-center">
    <h1>Reset Password</h1>
  </div>
  <form class="mt-2" action="/reset/<%= token %>" method="post">
    <label for="password">New Password:</label>
    <input class="form-control mb-3" type="password" name="password" value="" placeholder="New password" autofocus="autofocus">
    <label for="confirm">Confirm Password:</label>
    <input class="form-control mb-5" type="password" name="confirm" value="" placeholder="Confirm password">
    <button class="form-control btn btn-lg btn-success btn-block" type="submit" name="button">Reset Password</button>
    <a href="/campgrounds">Go Back</a>
  </form>
</div>
<% include ./partials/footer %>
